<!DOCTYPE HTML>
<html>
  <head>
    <title>35mm Studio</title>
    <meta name="description" content="Online portfolio of Los Angeles based amateur photograher Tushar Garg."></meta>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head> 
  <body>
    <ul class= "nav">
    <li class= "nameLink"><a class="noDecoration" href="/about"><h2 class="nameText">TUSHAR GARG</h2></a></li>
    <li class= "links"><a class="noDecoration" href="/"><h3 class="linkText">Portfolio</h3></a></li>
    </ul>
    <p class="about">Thanks to my dad, an avid photographer, I had the chance to play around with a Canon EOS 700D during my recent trip to Europe. It was an inspiring trip in more ways than one. I rediscovered my passion for hiking and the wilderness, greatly expanded my cultural and historical appreciation of the world, and made lasting friendships. I was lucky enough to capture some poignant moments during the trip with my camera and felt the need to share it with the rest of the world. This website is the manifestation of that inspiration and urge.</p>
  </body>
</html>