<!DOCTYPE HTML>
<html>
  <head>
    <title>35mm Studio</title>
    <meta name="description" content="Online portfolio of Los Angeles-based amateur photograher Tushar Garg."></meta>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="dist/simpleLightbox.min.css">
    <script src="dist/simpleLightbox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>

  <body>
    <ul class= "nav">
      <li class= "nameLink"><a class="noDecoration" href="/about"><h2 class="nameText">TUSHAR GARG</h2></a></li>
      <li class= "links"><a class="noDecoration" href="/"><h3 class="linkText">Portfolio</h3></a></li>
    </ul>
    <div class="imageGallery">
    <table style="width:100%">
      <tr>
        <td>
           <a href="portfolio/IMG_2490_edited.JPG"><img title = "love" class = "horizontal_photo" src="portfolio/IMG_2490_edited.JPG"></img></a>       
        </td>
        <td>
          <a href="portfolio/20161231-_MG_0131.jpg"><img id = "pine_in_the_night" class = "horizontal_photo" src="portfolio/20161231-_MG_0131.jpg"></img></a>           
        </td>
        <td>
           <a href="portfolio/IMG_8607_edited.JPG"><img id = "at_a_moment_in_time" class = "horizontal_photo" src="portfolio/IMG_8607_edited.JPG"></img></a>          
        </td>
      </tr>
      <tr>
        <td>
           <a href="portfolio/IMG_1192_edited.JPG"><img id= "following_the_pack" class = "horizontal_photo" src="portfolio/IMG_1192_edited.JPG"></img></a>
        </td>
        <td>
           <a href="portfolio/IMG_7715_edited.JPG"><img id = "the_last_gasp" class = "horizontal_photo" src="portfolio/IMG_7715_edited.JPG"></img></a>           
        </td>
        <td>
           <a href="portfolio/IMG_8892.JPG"><img class = "horizontal_photo" src="portfolio/IMG_8892.JPG"></img></a>          
        </td>
      </tr>
      <tr>
        <td>
           <a href="portfolio/IMG_5271_edited.JPG"><img id = "someone_has_to_do_it" class = "horizontal_photo" src="portfolio/IMG_5271_edited.JPG"></img></a>
        </td>
        <td>
            <a href="portfolio/IMG_8854_edited.JPG"><img id = "stairway_to_..." class = "horizontal_photo" src="portfolio/IMG_8854_edited.JPG"></img></a>
        </td>
        <td>
            <a href="portfolio/IMG_5173_edited.JPG"><img id = "location_location_location" class = "horizontal_photo" src="portfolio/IMG_5173_edited.JPG"></img></a>
        </td>
      </tr>
      <tr>
        <td class ="portrait" rowspan="2">
           <a href="portfolio/IMG_8696_edited.JPG"><img id = "days_well_spent" class = "portrait_photo" src="portfolio/IMG_8696_edited.JPG"></img></a>
        </td>
        <td>
           <a href="portfolio/IMG_7657_edited.JPG"><img id = "there_is_beauty_everywhere" class = "horizontal_photo" src="portfolio/IMG_7657_edited.JPG"></img></a>
        </td>
        <td>
           <a href="portfolio/IMG_8093_edited.JPG"><img id = "a_poignant_moment" class = "horizontal_photo" src="portfolio/IMG_8093_edited.JPG"></img></a>
        </td>
      </tr>
      <tr>
        <td>
           <a href="portfolio/IMG_7473_edited.JPG"><img id = "a_man_by_a_high_castle" class = "horizontal_photo" src="portfolio/IMG_7473_edited.JPG"></img></a>           
        </td>
        <td>
           <a href="portfolio/IMG_9315_edited.JPG"><img id = "a_slight_blush" class = "horizontal_photo" src="portfolio/IMG_9315_edited.JPG"></img></a>
        </td>
      </tr>
      <tr>
        <td>
           <a href="portfolio/IMG_4363_edited.JPG"><img id = "this_is_what_they_call_heaven" class = "horizontal_photo" src="portfolio/IMG_4363_edited.JPG"></img></a>
        </td>
        <td>
           <a href="portfolio/20161231-_MG_0065.jpg"><img id = "holding_on" class = "horizontal_photo" src="portfolio/20161231-_MG_0065.jpg"></img></a>
        </td>
        <td>
           <a href="portfolio/IMG_6167_edited.JPG"><img id = "the_lord_awaits" class = "horizontal_photo" src="portfolio/IMG_6167_edited.JPG"></img></a>
        </td>  
      </tr>
      <tr>       
        <td>
           <a href="portfolio/20161231-_MG_0151.jpg"><img id = "nature's_canvas" class = "horizontal_photo" src="portfolio/20161231-_MG_0151.jpg"></img></a>           
        </td>
         <td>
           <a href="portfolio/IMG_7678_edited.JPG"><img id = "out_there_in_the_distance" class = "horizontal_photo" src="portfolio/IMG_7678_edited.JPG"></img></a>
        </td>
        <td>
           <a href="portfolio/20161231-_MG_0088.jpg"><img id = "can't_get_enought_of_your_love" class = "horizontal_photo" src="portfolio/20161231-_MG_0088.jpg"></img></a>

        </td>
      </tr>
      <tr>
        <td>
          <a href="portfolio/IMG_8769_edited.JPG"><img id = "" class = "horizontal_photo" src="portfolio/IMG_8769_edited.JPG"></img></a>          
        </td>
         <td>
          <a href="portfolio/IMG_8424_edited.JPG"><img id = "a_thing_of_beauty" class = "horizontal_photo" src="portfolio/IMG_8424_edited.JPG"></img></a>
        </td>
         <td>
          <a href="portfolio/IMG_6573_edited.JPG"><img id = "before_wheels_were_invented" class = "horizontal_photo" src="portfolio/IMG_6573_edited.JPG"></img></a>          
        </td>
      </tr>
    </table>
  </div>
  <script>
      $('.imageGallery a').simpleLightbox();
  </script>
  </body>
</html>